        $%mgrName% = DB_DataObject::factory($this->conf['table']['%mgrName%']);
        $%mgrName%->%mgrName%_id = $input->%mgrName%Id;
        $%mgrName%->find(true);
        $%mgrName%->setFrom($input->%mgrName%);
        $%mgrName%->last_updated = SGL_Date::getTime();
        $%mgrName%->updated_by = SGL_Session::getUid();
        $success = $%mgrName%->update();

        if ($success !== false) {
            SGL::raiseMsg('%MgrCaptionSimple% update successfull', false, SGL_MESSAGE_INFO);
        } else {
            SGL::raiseError('%MgrCaptionSimple% update NOT successfull',
                SGL_ERROR_NOAFFECTEDROWS);
        }
