                        <th class="left"><a href="{makeUrl(#list#,#%mgrName%#,#%moduleName%#,##,#frmSortBy|%tablebody%||frmSortOrder|sortOrder#)}">%tableheader%</a>{if:sort[%tablebody%]}<img src="{webRoot}/themes/{theme}/images/sort_{sortOrder}.gif" alt="" />{end:}</th>
