<h1 class="pageTitle">An error has occured</h1>
<!--{if:isAdmin()}-->
<div class="message">{msgGet()}</div>
<!--{end:}-->
<p>If you would like to alert the admin of this error, please submit the following form.</p>
<form method="post" action="" id="frmErrorPageNotFound">
    <fieldset class="inside">
        <dl>
            <dt><strong>Email</strong></dt>
            <dd><input type="text" size="74" /></dd>
            <dt><strong>Message</strong></dt>
            <dd><textarea cols="60" rows="8" onfocus="this.innerHTML=''">Type your message here. Any information you can provide to help us improve our site is highly appreciated</textarea></dd>
            <dt>&nbsp;</dt>
            <dd><input type="submit" /></dd>
        </dl>
    </fieldset>
</form>