<h1 class="pageTitle">Get Doris!</h1>
<div class="message">{msgGet()}</div>
<h2 id="Dorisstory">Doris story</h2>
<p>
We're all on different OS/browser platforms, and some of us use more than one computer, so getting everything into one place was getting really hard.  Basecamp is great for project communication, but doesn't facilitate individual workflow, high-level prioritisation and doesn't go into enough detail.
</p>
<p>
We needed a central place where we could prioritise Today, grab stuff from our sources all over the web, and where we could delegate to other people easily.  We also didn't want to be reliant on any one email / PIM system.

</p>
<p>
<strong>Enter Doris. The super efficient assistant that keeps you on the straight and narrow! </strong>
</p>
<p>
Doris came to life as an experiment with Ajax, and also through the pain of being deeply frustrated with current systems available to us.
</p>
<ul>
    <li>Doris enables you to manage your lists and your daily workflow without asking you to do more than you have to
</li>
    <li>Doris knows that some like it GTD style, while others like to prioritise 80/20 style
</li>
    <li>Doris offers you the tools and flexibility to create as many or as few lists or priorities as you like to work with
</li>
    <li>Doris has a simple approach to managing actions by allowing you to easily drag and drop into whichever group and position you like
</li>
</ul>

<h2 id="WhatdoesDorisdoforyou">What does Doris do for you?</h2>
<ul>
    <li>always on, accessible from any internet connection

</li><li>helps you avoid micromanagement
</li><li>enables you to prioritise your workflow
</li><li>allows you to manage multiple projects and actions from one place
</li><li>stops overloading people when they're already busy
</li>
</ul>

<h2 id="HowtouseDoris">How to use Doris</h2>
<ul><li>groups: create a new group to start a list, or focus on a priority
</li><li>action creation: create a new task within groups, or drag between groups
</li><li>action grouping: easily drag and drop your tasks into groups
</li><li>prioritise: drag tasks to reorder
</li><li>today: organise your workload around what's in your Today group
</li>
</ul>