                if (!ctype_digit(str_replace('.', '', $input->%mgrName%->%field%)) || $input->%mgrName%->%field%<0) {
                    $aErrors['%field%'] = 'you must enter a valid figure in %caption%.';
                }
