                if (!ctype_digit($input->%mgrName%->%field%) && !($input->%mgrName%->%field%<0)) {
                    $aErrors['%field%'] = 'you must enter a valid number in %caption%.';
                }
