        $output->template  = '%mgrName%Edit.html';
        $output->pageTitle = '%MgrCaption% :: Add';
        $output->action    = 'insert';
        $output->wysiwyg   = true;
        $output->isAdd	   = true;
%defaultdata%
